<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear venta</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div>
        <div class="col">
            <div class="mb-5">
                <div class="card mx-auto shadow" style="width: 45%;">
                    <div class="card-header text-center text-bg-secondary" style="font-size: x-large;">FORMULARIO PARA
                        CREAR UNA VENTA</div>
                    <div class="card-body">
                        <form th:action="@{/admin/ventas}" th:object="${venta}" method="post">
                            <div class="row justify-content-between">
                                <div class="mb-3 col-auto w-75">
                                    <label class="form-label">USUARIO RESPONSABLE</label>
                                    <select class="form-select" th:field="*{usuario_responsable}"
                                        id="usuarioResponsableSelect" required>
                                        <option th:each="usuario : ${usuarios}" th:value="${usuario.id_usuario}"
                                            th:data-rol="${usuario.rol.nombre}"
                                            th:text="${usuario.nombres +  ' ' + usuario.apellidos}">
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3 col-auto w-25 text-center">
                                    <label class="form-label">ROL DEL USUARIO</label>
                                    <input type="text" class="form-control text-center" id="rolUsuarioResponsableInput"
                                        readonly>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">HABITACIÓN</label>
                                <select class="form-select" th:field="*{habitacion}" id="habitacionSelect">
                                    <option th:each="habitacion : ${habitaciones}"
                                        th:value="${habitacion.id_habitacion}" th:data-precio="${habitacion.precio}"
                                        th:text="${'['+habitacion.numero+']'+' '+habitacion.tipo.nombre_tipo+' ('+habitacion.tipo.abreviacion_tipo+')'}">
                                    </option>
                                </select>
                            </div>
                            <div class="row row-cols-3 justify-content-evenly">
                                <div class="mb-3 col-auto text-center w-25">
                                    <label class="form-label">TIEMPO DE ESTADÍA</label>
                                    <input type="number" class="form-control text-center" min="1" id="tiempoEstadiaInput"
                                        th:field="*{tiempo_estadia}" required>
                                </div>
                                <div class="mb-3 col-auto text-center w-50">
                                    <label class="form-label">TIPO DE SERVICIO</label>
                                    <select class="form-select text-center" th:field="*{tipo_servicio}"
                                        id="select-tipo-servicio" required>
                                        <option th:value="${'COMPLETO'}" data-tipo="COMPLETO">COMPLETO (12 pm)</option>
                                        <option th:value="${'MEDIO'}" data-tipo="MEDIO">MEDIO (6 pm)</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-auto text-center w-25">
                                    <label class="form-label">PRECIO DE HABITACIÓN</label>
                                    <input type="number" class="form-control text-center" id="precioHabitacionInput"
                                        min="0" step="0.01">
                                </div>
                            </div>
                            <div class="row justify-content-evenly">
                                <div class="mb-3 col-auto text-center">
                                    <label class="form-label">DESCUENTO</label>
                                    <input type="number" class="form-control text-center" id="descuentoInput"
                                        name="descuento" min="0" step="0.01" value="0.00">
                                </div>
                                <div class="mb-3 col-auto text-center">
                                    <label class="form-label">MONTO ADELANTO</label>
                                    <input type="number" class="form-control text-center" id="montoAdelantoInput"
                                        name="monto_adelanto" min="0" step="0.01" value="0.00">
                                </div>
                                <div class="mb-3 col-auto text-center">
                                    <label class="form-label">MONTO TOTAL</label>
                                    <input type="number" class="form-control text-center" id="montoTotalInput"
                                        th:field="*{monto_total}" min="0" step="0.01" required>
                                </div>
                            </div>
                            <div class="row justify-content-evenly">
                                <div class="mb-3 col-auto text-center w-50">
                                    <label class="form-label">FECHA DE ENTRADA</label>
                                    <input type="datetime-local" class="form-control text-center" id="fecha_entrada"
                                        required>
                                    <input type="hidden" name="fecha_entrada" id="fecha_entrada_valor">
                                </div>
                                <div class="mb-3 col-auto text-center w-50">
                                    <label class="form-label">FECHA DE SALIDA</label>
                                    <input type="datetime-local" class="form-control text-center" id="fecha_salida"
                                        required>
                                    <input type="hidden" name="fecha_salida" id="fecha_salida_valor">

                                </div>
                            </div>
                            <div class="row justify-content-evenly">
                                <div class="mb-3 col-auto text-center w-50">
                                    <label class="form-label">TIPO DE VENTA</label>
                                    <select class="form-select text-center" th:field="*{tipo_venta}" required>
                                        <option th:value="ALQUILER">ALQUILER</option>
                                        <option th:value="RESERVA">RESERVA</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-auto text-center w-50">
                                    <label class="form-label">ESTADO</label>
                                    <select class="form-select text-center" th:field="*{estado}" required>
                                        <option th:value="CANCELADO">CANCELADO</option>
                                        <option th:value="'POR COBRAR'">POR COBRAR</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mx-5 mt-3">
                                <button type="button" class="btn btn-danger col mx-3" data-bs-toggle="modal"
                                    data-bs-target="#cancelModal">CANCELAR</button>
                                <button type="submit" class="btn btn-primary col mx-3">CREAR REGISTRO</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{fragments/modal :: modal('/admin/ventas')}"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const fechaEntrada = document.getElementById("fecha_entrada");
            const fechaEntradaValor = document.getElementById("fecha_entrada_valor");
            const fechaSalida = document.getElementById("fecha_salida");
            const fechaSalidaValor = document.getElementById("fecha_salida_valor");
            const dias = document.getElementById("tiempoEstadiaInput");
            
            const fecha_actual = new Date();

            fechaEntrada.value = fechaJavaToJsToDatetimelocal(new Date(fecha_actual));
            fechaEntradaValor.value = fechaJsToJavaParseString(new Date(fechaEntrada.value));
            fechaSalida.value = fechaJavaToJsToDatetimelocal(new Date(fecha_actual));
            fechaSalidaValor.value = fechaJsToJavaParseString(new Date(fechaSalida.value));

            if (fechaEntrada) {
                fechaEntrada.addEventListener("change", function () {
                    fechaEntradaValor.value = fechaJsToJavaParseString(new Date(fechaEntrada.value));
                });
            }
            if (fechaSalida) {
                fechaSalida.addEventListener("change", function () {
                    fechaSalidaValor.value = fechaJsToJavaParseString(new Date(fechaSalida.value));
                });
            }


            const usuarioResponsableSelect = document.getElementById("usuarioResponsableSelect");
            const rolUsuarioResponsableInput = document.getElementById("rolUsuarioResponsableInput");
            const habitacionSelect = document.getElementById("habitacionSelect");
            const habitacionTipoServicioSelect = document.getElementById("select-tipo-servicio");
            const precioHabitacionInput = document.getElementById("precioHabitacionInput");
            const descuentoInput = document.getElementById("descuentoInput");
            const montoAdelantoInput = document.getElementById("montoAdelantoInput");
            const montoTotalInput = document.getElementById("montoTotalInput");

            // Verificar que los elementos existen
            if (!habitacionTipoServicioSelect || !precioHabitacionInput || !usuarioResponsableSelect || !rolUsuarioResponsableInput || !habitacionSelect || !descuentoInput || !montoAdelantoInput || !montoTotalInput) {
                console.error("Uno o más elementos no fueron encontrados.");
                return;
            }

            function actualizarRolUsuarioResponsable() {
                const selectedOption = usuarioResponsableSelect.options[usuarioResponsableSelect.selectedIndex];
                if (selectedOption) {
                    rolUsuarioResponsableInput.value = selectedOption.getAttribute("data-rol") || "";
                }
            }

            usuarioResponsableSelect.addEventListener("change", actualizarRolUsuarioResponsable);
            actualizarRolUsuarioResponsable(); // Para que se ejecute al cargar la página


            function actualizarPrecioHabitacion() {
                const selectedOptionHabitacion = habitacionSelect.options[habitacionSelect.selectedIndex];
                const selectedOptionHabitacionTipoServicio = habitacionTipoServicioSelect.options[habitacionTipoServicioSelect.selectedIndex];

                if (selectedOptionHabitacion && selectedOptionHabitacionTipoServicio) {
                    let precio_habitacion = parseFloat(selectedOptionHabitacion.getAttribute("data-precio")) || 0;
                    let tipo_servicio = selectedOptionHabitacionTipoServicio.getAttribute("data-tipo");

                    if (tipo_servicio === "COMPLETO") {
                        precioHabitacionInput.value = precio_habitacion;

                        actualizarMontoTotal();
                    } else if (tipo_servicio === "MEDIO") {
                        precioHabitacionInput.value = precio_habitacion / 2;

                        actualizarMontoTotal();
                    }
                }
            }

            habitacionTipoServicioSelect.addEventListener("change", actualizarPrecioHabitacion);
            habitacionSelect.addEventListener("change", actualizarPrecioHabitacion);

            actualizarPrecioHabitacion(); // Para que se ejecute al cargar la página

            function actualizarMontoTotal() {
                const precioHabitacionInputValue = parseFloat(precioHabitacionInput.value);
                const descuentoInputValue = parseFloat(descuentoInput.value);
                const montoAdelantoInputValue = parseFloat(montoAdelantoInput.value);

                montoTotalInput.value = precioHabitacionInputValue - descuentoInputValue;
            }

            descuentoInput.addEventListener("change", actualizarMontoTotal);
            montoAdelantoInput.addEventListener("change", actualizarMontoTotal);
            precioHabitacionInput.addEventListener("change", actualizarMontoTotal);

            actualizarMontoTotal();



            // Convertir fecha Java a JS para enviar a datetime-local de HTML
            function fechaJavaToJsToDatetimelocal(date) {
                let year = date.getFullYear();
                let month = String(date.getMonth() + 1).padStart(2, "0"); // Meses van de 0-11
                let day = String(date.getDate()).padStart(2, "0");
                let hours = String(date.getHours()).padStart(2, "0");
                let minutes = String(date.getMinutes()).padStart(2, "0");

                return `${year}-${month}-${day}T${hours}:${minutes}`;
            }

            // Convertir fecha JS a String en formato Java
            function fechaJsToJavaParseString(fecha) {
                const anio = fecha.getFullYear();
                const mes = String(fecha.getMonth() + 1).padStart(2, '0');
                const dia = String(fecha.getDate()).padStart(2, '0');
                const horas = String(fecha.getHours()).padStart(2, '0');
                const minutos = String(fecha.getMinutes()).padStart(2, '0');
                const segundos = String(fecha.getSeconds()).padStart(2, '0');

                return `${anio}-${mes}-${dia}T${horas}:${minutos}:${segundos}`;
            }

            function calcularFechaSalida(fecha, tipoServicio, p_fechaEntradaValor) {
                let fechaSalida = new Date(fecha);
                p_fechaEntradaValor = new Date(p_fechaEntradaValor);

                if (tipoServicio.includes("COMPLETO")) {
                    if (p_fechaEntradaValor.getHours() >= 6) {
                        fechaSalida.setDate(fechaSalida.getDate() + 1); // Día siguiente
                    }
                    fechaSalida.setHours(12, 0, 0); // Medio día del mismo día
                } else {
                    fechaSalida.setHours(18, 0, 0); // 6 PM del mismo día
                }

                return fechaSalida;
            }
        });
    </script>

    <script th:src="@{/js/index.js}" defer></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>