<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear venta</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div>
        <div class="col">
            <div class="mb-5">
                <div class="card mx-auto shadow" style="width: 45%;">
                    <div class="card-header text-center text-bg-secondary" style="font-size: x-large;">FORMULARIO PARA
                        CREAR UNA VENTA</div>
                    <div class="card-body">
                        <form th:action="@{/admin/ventas}" th:object="${venta}" method="post">
                            <div class="row justify-content-between">
                                <div class="mb-3 col-auto w-75">
                                    <label class="form-label">USUARIO RESPONSABLE</label>
                                    <select class="form-select" th:field="*{usuario_responsable}"
                                        id="usuarioResponsableSelect" required>
                                        <option th:each="usuario : ${usuarios}" th:value="${usuario.id_usuario}"
                                            th:data-rol="${usuario.rol.nombre}"
                                            th:text="${usuario.nombres +  ' ' + usuario.apellidos}">
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3 col-auto w-25 text-center">
                                    <label class="form-label">ROL DEL USUARIO</label>
                                    <input type="text" class="form-control text-center" id="rolUsuarioResponsableInput"
                                        readonly>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">HABITACIÓN</label>
                                <select class="form-select" th:field="*{habitacion}" id="habitacionSelect">
                                    <option th:each="habitacion : ${habitaciones}"
                                        th:value="${habitacion.id_habitacion}" th:data-precio="${habitacion.precio}"
                                        th:text="${'['+habitacion.numero+']'+' '+habitacion.tipo.nombre_tipo+' ('+habitacion.tipo.abreviacion_tipo+')'}">
                                    </option>
                                </select>
                            </div>
                            <div class="row row-cols-3 justify-content-evenly">
                                <div class="mb-3 col-auto text-center w-25">
                                    <label class="form-label">TIEMPO DE ESTADÍA</label>
                                    <input type="number" class="form-control text-center" min="1"
                                        th:field="*{tiempo_estadia}" required>
                                </div>
                                <div class="mb-3 col-auto text-center w-50">
                                    <label class="form-label">TIPO DE SERVICIO</label>
                                    <select class="form-select text-center" th:field="*{tipo_servicio}"
                                        id="select-tipo-servicio" required>
                                        <option th:value="${'COMPLETO'}" data-tipo="COMPLETO">COMPLETO (12 pm)</option>
                                        <option th:value="${'MEDIO'}" data-tipo="MEDIO">MEDIO (6 pm)</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-auto text-center w-25">
                                    <label class="form-label">PRECIO DE HABITACIÓN</label>
                                    <input type="number" class="form-control text-center" id="precioHabitacionInput"
                                        min="0" step="0.01">
                                </div>
                            </div>
                            <div class="row justify-content-evenly">
                                <div class="mb-3 col-auto text-center">
                                    <label class="form-label">DESCUENTO</label>
                                    <input type="number" class="form-control text-center" id="descuentoInput"
                                        name="descuento" min="0" step="0.01" value="0.00">
                                </div>
                                <div class="mb-3 col-auto text-center">
                                    <label class="form-label">MONTO ADELANTO</label>
                                    <input type="number" class="form-control text-center" id="montoAdelantoInput"
                                        name="monto_adelanto" min="0" step="0.01" value="0.00">
                                </div>
                                <div class="mb-3 col-auto text-center">
                                    <label class="form-label">MONTO TOTAL</label>
                                    <input type="number" class="form-control text-center" id="montoTotalInput"
                                        th:field="*{monto_total}" min="0" step="0.01" required>
                                </div>
                            </div>
                            <div class="row justify-content-evenly">
                                <div class="mb-3 col-auto text-center w-50">
                                    <label class="form-label">FECHA DE ENTRADA</label>
                                    <input type="datetime-local" class="form-control text-center"
                                        th:field="*{fecha_entrada}" required>
                                </div>
                                <div class="mb-3 col-auto text-center w-50">
                                    <label class="form-label">FECHA DE SALIDA</label>
                                    <input type="datetime-local" class="form-control text-center"
                                        th:field="*{fecha_salida}" required>
                                </div>
                            </div>
                            <div class="row justify-content-evenly">
                                <div class="mb-3 col-auto text-center w-50">
                                    <label class="form-label">TIPO DE VENTA</label>
                                    <select class="form-select text-center" th:field="*{tipo_venta}" required>
                                        <option th:value="ALQUILER">ALQUILER</option>
                                        <option th:value="RESERVA">RESERVA</option>
                                        <option th:value="COTIZACIÓN">COTIZACIÓN</option>
                                    </select>
                                </div>
                                <div class="mb-3 col-auto text-center w-50">
                                    <label class="form-label">ESTADO</label>
                                    <select class="form-select text-center" th:field="*{estado}" required>
                                        <option th:value="CANCELADO">CANCELADO</option>
                                        <option th:value="'POR COBRAR'">POR COBRAR</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mx-5 mt-3">
                                <button type="button" class="btn btn-danger col mx-3" data-bs-toggle="modal"
                                    data-bs-target="#cancelModal">CANCELAR</button>
                                <button type="submit" class="btn btn-primary col mx-3">CREAR REGISTRO</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="mx-5">
                <div th:if="${error}" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                    <span th:text="${error}"></span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div class="d-flex justify-content-between">
                    <div>
                        <h1 class="text-center">LISTA DE VENTAS</h1>
                    </div>
                    <div class="my-auto">
                        <a class="btn btn-primary disabled-button" role="button">AGREGAR
                            REGISTRO</a>
                    </div>
                </div>

                <table class="table border table-hover shadow">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center w-auto" colspan="2">ACCIONES</th>
                            <th class="text-center">ID</th>
                            <th>HABITACIÓN</th>
                            <th class="text-center">PRECIO DE LA HABITACIÓN</th>
                            <th class="text-center">TIEMPO DE ESTADÍA</th>
                            <th class="text-center">TIPO DE SERVICIO</th>
                            <th class="text-center">DESCUENTO</th>
                            <th class="text-center">MONTO ADELANTO</th>
                            <th class="text-center">MONTO TOTAL</th>
                            <th class="text-center">TIPO DE VENTA</th>
                            <th class="text-center">FECHA DE ENTRADA</th>
                            <th class="text-center">FECHA DE SALIDA</th>
                            <th class="text-center">ESTADO</th>
                            <th>USUARIO RESPONSABLE</th>

                            <th class="text-center">FECHA DE CREACIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="venta: ${ventas}">
                            <td class="text-center" style="width: 12px;">
                                <a class="btn btn-sm btn-primary disabled-button" role="button" title="EDITAR">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td class="text-center border" style="width: 12px;">
                                <a class="btn btn-sm btn-danger disabled-button" role="button" title="ELIMINAR">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                            <td th:text="${venta.id_venta}" class="text-center border">ID</td>
                            <td
                                th:text="${'['+venta.habitacion.numero+']'+' (' + venta.habitacion.tipo.abreviacion_tipo + ')' + ' ' + venta.habitacion.tipo.nombre_tipo}">
                                HABITACIÓN</td>
                            <td class="text-center" th:text="${venta.habitacion.precio}">PRECIO DE LA HABITACIÓN</td>
                            <td class="text-center" th:text="${venta.tiempo_estadia}">TIEMPO DE ESTADÍA</td>
                            <td class="text-center" th:text="${venta.tipo_servicio}">TIPO DE SERVICIO</td>
                            <td class="text-center" th:text="${venta.descuento}">DESCUENTO</td>
                            <td class="text-center" th:text="${venta.monto_adelanto}">MONTO ADELANTO</td>
                            <td class="text-center" th:text="${venta.monto_total}">MONTO TOTAL</td>
                            <td class="text-center" th:text="${venta.tipo_venta}">TIPO DE VENTA</td>
                            <td class="text-center" th:text="${venta.fecha_entrada}">FECHA DE ENTRADA</td>
                            <td class="text-center" th:text="${venta.fecha_salida}">FECHA DE SALIDA</td>
                            <td class="text-center" th:text="${venta.estado}">ESTADO</td>
                            <td
                                th:text="${venta.usuario_responsable.nombres + ' ' + venta.usuario_responsable.apellidos}">
                                USUARIO RESPONSABLE</td>

                            <td th:text="${venta.fecha_creacion}" class="text-center">FECHA DE CREACIÓN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:insert="~{fragments/modal :: modal('/admin/ventas')}"></div>

    <script th:src="@{/js/index.js}" defer></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const usuarioResponsableSelect = document.getElementById("usuarioResponsableSelect");
            const rolUsuarioResponsableInput = document.getElementById("rolUsuarioResponsableInput");
            const habitacionSelect = document.getElementById("habitacionSelect");
            const habitacionTipoServicioSelect = document.getElementById("select-tipo-servicio");
            const precioHabitacionInput = document.getElementById("precioHabitacionInput");
            const descuentoInput = document.getElementById("descuentoInput");
            const montoAdelantoInput = document.getElementById("montoAdelantoInput");
            const montoTotalInput = document.getElementById("montoTotalInput");
            console.log(descuentoInput.value)
            // Verificar que los elementos existen
            if (!habitacionTipoServicioSelect || !precioHabitacionInput || !usuarioResponsableSelect || !rolUsuarioResponsableInput || !habitacionSelect || !descuentoInput || !montoAdelantoInput || !montoTotalInput) {
                console.error("Uno o más elementos no fueron encontrados.");
                return;
            }

            function actualizarRolUsuarioResponsable() {
                const selectedOption = usuarioResponsableSelect.options[usuarioResponsableSelect.selectedIndex];
                if (selectedOption) {
                    rolUsuarioResponsableInput.value = selectedOption.getAttribute("data-rol") || "";
                }
            }

            usuarioResponsableSelect.addEventListener("change", actualizarRolUsuarioResponsable);
            actualizarRolUsuarioResponsable(); // Para que se ejecute al cargar la página


            function actualizarPrecioHabitacion() {
                const selectedOptionHabitacion = habitacionSelect.options[habitacionSelect.selectedIndex];
                const selectedOptionHabitacionTipoServicio = habitacionTipoServicioSelect.options[habitacionTipoServicioSelect.selectedIndex];

                if (selectedOptionHabitacion && selectedOptionHabitacionTipoServicio) {
                    let precio_habitacion = parseFloat(selectedOptionHabitacion.getAttribute("data-precio")) || 0;
                    let tipo_servicio = selectedOptionHabitacionTipoServicio.getAttribute("data-tipo");

                    if (tipo_servicio === "COMPLETO") {
                        precioHabitacionInput.value = precio_habitacion;
                        actualizarMontoTotal();
                    } else if (tipo_servicio === "MEDIO") {
                        precioHabitacionInput.value = precio_habitacion / 2;
                        actualizarMontoTotal();
                    }
                }
            }

            habitacionTipoServicioSelect.addEventListener("change", actualizarPrecioHabitacion);
            habitacionSelect.addEventListener("change", actualizarPrecioHabitacion);

            actualizarPrecioHabitacion(); // Para que se ejecute al cargar la página

            function actualizarMontoTotal() {
                const precioHabitacionInputValue = parseFloat(precioHabitacionInput.value);
                const descuentoInputValue = parseFloat(descuentoInput.value);
                const montoAdelantoInputValue = parseFloat(montoAdelantoInput.value);
                console.log(precioHabitacionInputValue, descuentoInputValue, montoAdelantoInput.value)
                montoTotalInput.value = precioHabitacionInputValue - (descuentoInputValue + montoAdelantoInputValue);
            }

            descuentoInput.addEventListener("change", actualizarMontoTotal);
            montoAdelantoInput.addEventListener("change", actualizarMontoTotal);
            precioHabitacionInput.addEventListener("change", actualizarMontoTotal);

            actualizarMontoTotal();
        });
    </script>
</body>

</html>