<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de ventas</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="mx-5">
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="d-flex justify-content-between">
            <div>
                <h1 class="text-center">LISTA DE VENTAS</h1>
            </div>

            <div>
                <nav aria-label="pagination-ventas">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${prevPage == 0 ? 'disabled' : ''}">
                            <a th:href="@{|/admin/ventas?page=${prevPage}|}" class="page-link">Anterior</a>
                        </li>
                        <li class="page-item" th:each="page : ${pages}" th:classappend="${actualPage == page ? 'active' : ''}">
                            <a class="page-link" th:href="@{|/admin/ventas?page=${page}|}" th:text="${page}"></a>
                        </li>
                        <li class="page-item" th:classappend="${actualPage == lastPage ? 'disabled' : ''}">
                            <a th:href="@{|/admin/ventas?page=${nextPage}|}" class="page-link">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="my-auto">
                <a class="btn btn-primary" th:href="@{/admin/ventas/nuevo}" role="button">AGREGAR
                    REGISTRO</a>
            </div>
        </div>

        <table class="table border table-hover shadow">
            <thead class="table-dark">
                <tr>
                    <th class="text-center w-auto" colspan="2">ACCIONES</th>
                    <th class="text-center">ID</th>
                    <th>HABITACIÓN</th>
                    <th class="text-center">PRECIO DE LA HABITACIÓN</th>
                    <th class="text-center">TIEMPO DE ESTADÍA</th>
                    <th class="text-center">TIPO DE SERVICIO</th>
                    <th class="text-center">DESCUENTO</th>
                    <th class="text-center">MONTO ADELANTO</th>
                    <th class="text-center">MONTO TOTAL</th>
                    <th class="text-center">TIPO DE VENTA</th>
                    <th class="text-center">FECHA DE ENTRADA</th>
                    <th class="text-center">FECHA DE SALIDA</th>
                    <th class="text-center">ESTADO</th>
                    <th>USUARIO RESPONSABLE</th>

                    <th class="text-center">FECHA DE CREACIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="venta: ${ventas}">
                    <td class="text-center" style="width: 12px;">
                        <a class="btn btn-sm btn-primary" role="button" title="EDITAR"
                            th:href="@{/admin/ventas/editar/{id}(id=${venta.id_venta})}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="text-center border" style="width: 12px;">
                        <form th:action="@{/admin/ventas/eliminar/{id}(id=${venta.id_venta})}" method="post"
                            onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?')">
                            <button type="submit" class="btn btn-sm btn-danger" title="ELIMINAR">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </form>
                    </td>
                    <td th:text="${venta.id_venta}" class="text-center border">ID</td>
                    <td
                        th:text="${'['+venta.habitacion.numero+']'+' (' + venta.habitacion.tipo.abreviacion_tipo + ')' + ' ' + venta.habitacion.tipo.nombre_tipo}">
                        HABITACIÓN</td>
                    <td class="text-center" th:text="${venta.habitacion.precio}">PRECIO DE LA HABITACIÓN</td>
                    <td class="text-center" th:text="${venta.tiempo_estadia}">TIEMPO DE ESTADÍA</td>
                    <td class="text-center" th:text="${venta.tipo_servicio}">TIPO DE SERVICIO</td>
                    <td class="text-center" th:text="${venta.descuento}">DESCUENTO</td>
                    <td class="text-center" th:text="${venta.monto_adelanto}">MONTO ADELANTO</td>
                    <td class="text-center" th:text="${venta.monto_total}">MONTO TOTAL</td>
                    <td class="text-center" th:text="${venta.tipo_venta}">TIPO DE VENTA</td>
                    <td class="text-center"
                        th:text="${#temporals.format(T(java.time.LocalDateTime).parse(venta.fecha_entrada), 'dd-MM-yyyy hh:mm a')}">
                        FECHA DE ENTRADA</td>
                    <td class="text-center"
                        th:text="${#temporals.format(T(java.time.LocalDateTime).parse(venta.fecha_salida), 'dd-MM-yyyy hh:mm a')}">
                        FECHA
                        DE SALIDA</td>
                    <td class="text-center" th:text="${venta.estado}">ESTADO</td>
                    <td th:text="${venta.usuario_responsable.nombres + ' ' + venta.usuario_responsable.apellidos}">
                        USUARIO RESPONSABLE</td>

                    <td th:text="${#temporals.format(T(java.time.LocalDateTime).parse(venta.fecha_creacion), 'dd-MM-yyyy hh:mm a')}"
                        class="text-center">FECHA DE CREACIÓN</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>