<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de ventas</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="mx-5">
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="d-flex justify-content-between">
            <div>
                <h1 class="text-center">LISTA DE VENTAS</h1>
            </div>
            <div class="my-auto">
                <a class="btn btn-primary" th:href="@{/admin/ventas/nuevo}" role="button">AGREGAR
                    REGISTRO</a>
            </div>
        </div>

        <table class="table border table-hover shadow">
            <thead class="table-dark">
                <tr>
                    <th class="text-center w-auto" colspan="2">ACCIONES</th>
                    <th class="text-center">ID</th>
                    <th>HABITACIÓN</th>
                    <th class="text-center">PRECIO DE LA HABITACIÓN</th>
                    <th class="text-center">DESCUENTO</th>
                    <th class="text-center">MONTO TOTAL</th>
                    <th class="text-center">MONTO ADELANTO</th>
                    <th class="text-center">TIPO DE VENTA</th>
                    <th class="text-center">FECHA DE ENTRADA</th>
                    <th class="text-center">FECHA DE SALIDA</th>
                    <th class="text-center">ESTADO</th>
                    <th>USUARIO RESPONSABLE</th>

                    <th class="text-center">FECHA DE CREACIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="venta: ${ventas}">
                    <td class="text-center" style="width: 12px;">
                        <a class="btn btn-sm btn-primary" role="button" title="EDITAR"
                            th:href="@{/admin/ventas/editar/{id}(id=${venta.id_venta})}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="text-center border" style="width: 12px;">
                        <a class="btn btn-sm btn-danger" role="button" title="ELIMINAR"
                            th:href="@{/admin/ventas/{id}(id=${venta.id_venta})}"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta venta?')">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                    <td th:text="${venta.id_venta}" class="text-center border">ID</td>
                    <td
                        th:text="${'['+venta.habitacion_precio.habitacion.numero+']'+' (' + venta.habitacion_precio.habitacion.tipo.abreviacion_tipo + ')' + ' ' + venta.habitacion_precio.habitacion.tipo.nombre_tipo}">
                        HABITACIÓN</td>
                    <td class="text-center" th:text="${venta.habitacion_precio.precio}">PRECIO DE LA HABITACIÓN</td>
                    <td class="text-center" th:text="${venta.descuento}">DESCUENTO</td>
                    <td class="text-center" th:text="${venta.monto_adelanto}">MONTO ADELANTO</td>
                    <td class="text-center" th:text="${venta.monto_total}">MONTO TOTAL</td>
                    <td class="text-center" th:text="${venta.tipo_venta}">TIPO DE VENTA</td>
                    <td class="text-center" th:text="${venta.fecha_entrada}">FECHA DE ENTRADA</td>
                    <td class="text-center" th:text="${venta.fecha_salida}">FECHA DE SALIDA</td>
                    <td class="text-center" th:text="${venta.estado}">ESTADO</td>
                    <td th:text="${venta.usuario_responsable.nombres + ' ' + venta.usuario_responsable.apellidos}">
                        USUARIO RESPONSABLE</td>

                    <td th:text="${venta.fecha_creacion}" class="text-center">FECHA DE CREACIÓN</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>