<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de las características de las habitaciones</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <h1 class="text-center">LISTA DE LAS CARACTERÍSTICAS DE LAS HABITACIONES</h1>
            </div>
            <div class="my-auto">
                <a class="btn btn-primary" th:href="@{/admin/habitacionesCaracteristicas/nuevo}" role="button">AGREGAR NUEVO REGISTRO</a>
            </div>
        </div>

        <table class="table border table-hover shadow">
            <thead class="table-dark">
                <tr>
                    <th class="text-center w-auto" colspan="2">ACCIONES</th>
                    <th class="text-center">ID</th>
                    <th>CARACTERÍSTICA</th>
                    <th>MARCA</th>
                    <th class="text-center">PRECIO PARA DESCUENTO</th>
                    <th class="text-center">FECHA DE CREACIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="habitacionCaracteristica: ${habitacionesCaracteristicas}">
                    <td class="text-center" style="width: 12px;">
                        <a class="btn btn-sm btn-primary" role="button" title="EDITAR"
                            th:href="@{/admin/habitacionesCaracteristicas/editar/{id}(id=${habitacionCaracteristica.id_habitacion_caracteristica})}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="text-center border" style="width: 12px;">
                        <a class="btn btn-sm btn-danger" role="button" title="ELIMINAR"
                            th:href="@{/admin/habitacionesCaracteristicas/{id}(id=${habitacionCaracteristica.id_habitacion_caracteristica})}"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta característica de la habitación?')">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                    <td th:text="${habitacionCaracteristica.id_habitacion_caracteristica}" class="text-center">ID</td>
                    <td th:text="${habitacionCaracteristica.nombre}">CARACTERÍSTICA</td>
                    <td th:text="${habitacionCaracteristica.marca}">MARCA</td>
                    <td th:text="${habitacionCaracteristica.precio}" class="text-center">PRECIO PARA DESCUENTO</td>
                    <td th:text="${habitacionCaracteristica.fecha_creacion}" class="text-center">FECHA DE CREACIÓN</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>