<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear historial de veto</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <div class="col">
            <div class="mb-5">
                <div class="card mx-auto shadow" style="width: 50%;">
                    <div class="card-header text-center text-bg-secondary" style="font-size: xx-large;">FORMULARIO PARA
                        CREAR UN HISTORIAL DE VETO</div>

                    <div class="card-body">
                        <form th:action="@{/admin/historialVetos}" th:object="${historialVeto}" method="post">
                            <div class="mb-3">
                                <label class="form-label">USUARIO RESPONSABLE DE GENERAR EL VETO</label>
                                <select class="form-select" th:field="*{usuario_responsable}" required>
                                    <option th:each="usuario_responsable : ${usuarios_responsables}"
                                        th:value="${usuario_responsable.id_usuario}"
                                        th:text="${usuario_responsable.nombres + ' ' + usuario_responsable.apellidos}">
                                        Usuario responsable
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">CLIENTE VETADO DEL SERVICIO DE HOSPEDAJE</label>
                                <select class="form-select" th:field="*{usuario_vetado}" required>
                                    <option th:each="usuario_cliente : ${usuarios_clientes}"
                                        th:value="${usuario_cliente.id_usuario}"
                                        th:text="${usuario_cliente.nombres + ' ' + usuario_cliente.apellidos}">
                                        Usuario vetado
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">RAZÓN DE VETADO</label>
                                <textarea class="form-control" th:field="*{razon}"
                                    placeholder="Escribe la razón del estado de veto del usuario"></textarea>
                            </div>

                            <div class="row mx-5">
                                <button type="button" class="btn btn-danger col mx-3" data-bs-toggle="modal"
                                    data-bs-target="#cancelModal">CANCELAR</button>
                                <button type="submit" class="btn btn-primary col mx-3">CREAR REGISTRO</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        <h1 class="text-center">LISTA DE HISTORIAL DE VETOS</h1>
                    </div>
                    <div class="my-auto">
                        <a class="btn btn-primary disabled-button"
                            role="button">AGREGAR
                            HISTORIAL VETO</a>
                    </div>
                </div>

                <table class="table border table-hover shadow">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center w-auto" colspan="2">ACCIONES</th>
                            <th class="text-center">ID</th>
                            <th>USUARIO RESPONSABLE</th>
                            <th>USUARIO VETADO</th>
                            <th>RAZÓN DEL VETO</th>

                            <th class="text-center">FECHA DE CREACIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="historialVeto: ${historialVetos}">
                            <td class="text-center" style="width: 12px;">
                                <a class="btn btn-sm btn-primary disabled-button" role="button"
                                    title="EDITAR HISTORIAL DE VETO">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td class="text-center border disabled-button" style="width: 12px;">
                                <a class="btn btn-sm btn-danger" role="button" title="ELIMINAR HISTORIAL DE VETO"
                                    onclick="return confirm('¿Estás seguro de que deseas eliminar este historial de veto?')">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                            <td th:text="${historialVeto.id_historial_veto}" class="text-center">ID</td>
                            <td
                                th:text="${historialVeto.usuario_responsable.nombres + ' ' + historialVeto.usuario_responsable.apellidos}">
                                USUARIO RESPONSABLE</td>
                            <td
                                th:text="${historialVeto.usuario_vetado.nombres + ' ' + historialVeto.usuario_vetado.apellidos}">
                                USUARIO VETADO</td>
                            <td th:text="${historialVeto.razon}">RAZÓN DEL VETO</td>

                            <td th:text="${#temporals.format(fechasCreacion[historialVeto.id_historial_veto],'yyyy-MM-dd hh:mm:ss a')}" class="text-center">FECHA DE CREACIÓN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:insert="~{fragments/modal :: modal('/admin/historialVetos')}"></div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>