<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado del historial de vetos</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="mx-5">
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="d-flex justify-content-between">
            <div>
                <h2 class="text-center">HISTORIALES DE VETOS</h2>
            </div>

            <div>
                <nav aria-label="pagination-ventas">
                    <ul class="pagination justify-content-center hotel-pagination">
                        <li class="page-item" th:classappend="${prevPage == 0 ? 'disabled' : ''}">
                            <a th:href="@{|/admin/historialVetos?page=${prevPage}|}" class="page-link">Anterior</a>
                        </li>
                        <li class="page-item" th:each="page : ${pages}" th:classappend="${actualPage == page ? 'active' : ''}">
                            <a class="page-link" th:href="@{|/admin/historialVetos?page=${page}|}" th:text="${page}"></a>
                        </li>
                        <li class="page-item" th:classappend="${actualPage == lastPage ? 'disabled' : ''}">
                            <a th:href="@{|/admin/historialVetos?page=${nextPage}|}" class="page-link">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="my-auto">
                <a class="btn hotel-btn-primary" th:href="@{/admin/historialVetos/nuevo}" role="button">AGREGAR REGISTRO</a>
            </div>
        </div>

        <table class="table border table-hover hotel-table-modernas hotel-shadow-sm">
            <thead class="table-dark">
                <tr>
                    <th class="text-center w-auto" colspan="2">ACCIONES</th>
                    <th class="text-center">ID</th>
                    <th>USUARIO RESPONSABLE</th>
                    <th>USUARIO VETADO</th>
                    <th>RAZÓN DEL VETO</th>

                    <th class="text-center">FECHA DE CREACIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="historialVeto: ${historialVetos}">
                    <td class="text-center" style="width: 12px;">
                        <a class="btn btn-sm btn-primary" role="button" title="EDITAR HISTORIAL DE VETO"
                            th:href="@{/admin/historialVetos/editar/{id}(id=${historialVeto.id_historial_veto})}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="text-center border" style="width: 12px;">
                        <form th:action="@{/admin/historialVetos/eliminar/{id}(id=${historialVeto.id_historial_veto})}" method="post"
                            onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?')">
                            <button type="submit" class="btn btn-sm btn-danger" title="ELIMINAR">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </form>
                    </td>
                    <td th:text="${historialVeto.id_historial_veto}" class="text-center">ID</td>
                    <td
                        th:text="${historialVeto.usuario_responsable.nombres + ' ' + historialVeto.usuario_responsable.apellidos}">
                        USUARIO RESPONSABLE</td>
                    <td
                        th:text="${historialVeto.usuario_vetado.nombres + ' ' + historialVeto.usuario_vetado.apellidos}">
                        USUARIO VETADO</td>
                    <td th:text="${historialVeto.razon}">RAZÓN DEL VETO</td>

                    <td th:text="${#temporals.format(T(java.time.LocalDateTime).parse(historialVeto.fecha_creacion), 'dd-MM-yyyy hh:mm a')}" class="text-center">FECHA DE CREACIÓN</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>