<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado del historial de vetos</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <div th:if="${error}" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <span th:text="${error}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="d-flex justify-content-between">
            <div>
                <h1 class="text-center">LISTA DE HISTORIAL DE VETOS</h1>
            </div>
            <div class="my-auto">
                <a class="btn btn-primary" th:href="@{/admin/historialVetos/nuevo}" role="button">AGREGAR HISTORIAL DE
                    VETO</a>
            </div>
        </div>

        <table class="table border table-hover shadow">
            <thead class="table-dark">
                <tr>
                    <th class="text-center w-auto" colspan="2">ACCIONES</th>
                    <th class="text-center">ID</th>
                    <th>USUARIO RESPONSABLE</th>
                    <th>USUARIO VETADO</th>
                    <th>RAZÓN DEL VETO</th>

                    <th class="text-center">FECHA DE CREACIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="historialVeto: ${historialVetos}">
                    <td class="text-center" style="width: 12px;">
                        <a class="btn btn-sm btn-primary" role="button" title="EDITAR HISTORIAL DE VETO"
                            th:href="@{/admin/historialVetos/editar/{id}(id=${historialVeto.id_historial_veto})}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="text-center border" style="width: 12px;">
                        <form th:action="@{/admin/historialVetos/eliminar/{id}(id=${historialVeto.id_historial_veto})}" method="post"
                            onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?')">
                            <button type="submit" class="btn btn-sm btn-danger" title="ELIMINAR">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </form>
                    </td>
                    <td th:text="${historialVeto.id_historial_veto}" class="text-center">ID</td>
                    <td
                        th:text="${historialVeto.usuario_responsable.nombres + ' ' + historialVeto.usuario_responsable.apellidos}">
                        USUARIO RESPONSABLE</td>
                    <td
                        th:text="${historialVeto.usuario_vetado.nombres + ' ' + historialVeto.usuario_vetado.apellidos}">
                        USUARIO VETADO</td>
                    <td th:text="${historialVeto.razon}">RAZÓN DEL VETO</td>

                    <td th:text="${#temporals.format(fechasCreacion[historialVeto.id_historial_veto],'yyyy-MM-dd hh:mm:ss a')}" class="text-center">FECHA DE CREACIÓN</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>