<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow" style="margin-bottom: 4rem;" th:fragment="navbar">
    <div class="container-fluid mx-3">
        <div class="navbar-nav text-light align-content-center align-items-center">
            <li class="nav-item">
                <a class="nav-link fs-4 active" aria-current="page" th:href="@{/}">INICIO</a>
            </li>

            <li class="nav-item">
                <div class="ms-4 text-secondary" th:text="${'DATOS: ' + dbSize}"></div>
            </li>

            <li class="nav-item ms-4">
                <a class="nav-link" th:href="@{/admin}"
                    sec:authorize="hasAnyRole('OWNER', 'ADMINISTRADOR')">ADMINISTRAR</a>
            </li>
        </div>

        <!-- Centro: Reloj Digital -->
        <div>
            <div id="digital-date" class="text-light text-bg-dark fw-light"></div>
            <span id="digital-clock" class="text-ligth text-bg-dark fw-semibold shadow"></span>
        </div>

        <div class="navbar-nav">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/clientes}">CLIENTES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mx-2" th:href="@{/ventas}">VENTAS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mx-2" th:href="@{/cajas}">CAJAS</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link mx-2" th:href="@{/habitaciones}">HABITACIONES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/historialVetos}">HISTORIAL DE VETOS</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link fs-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi bi-person-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li class="text-center">
                            <span class="fw-bold" sec:authentication="principal.nombres"></span>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <!-- <a class="dropdown-item" th:href="@{/ventas/reporte-del-dia-pdf}">Reporte del día</a> -->
                        <li>
                            <!-- VENTAS -->
                            <a class="dropdown-item" th:href="@{/ventas/reporte-por-fecha-pdf(fecha=${fechaFiltro})}"
                                th:unless="${fechaFiltro == null}">REPORTE: Ventas del día segun
                                fecha</a>
                            <a class="dropdown-item" th:href="@{/ventas/reporte-por-fecha-pdf}"
                                th:if="${fechaFiltro == null}">REPORTE: Ventas del día</a>

                            <!-- CAJAS -->
                            <a class="dropdown-item" th:href="@{/cajas/reporte-por-fecha-pdf(fecha=${fechaFiltro})}"
                                th:unless="${fechaFiltro == null}">REPORTE: Cajas del día segun
                                fecha</a>
                            <a class="dropdown-item" th:href="@{/cajas/reporte-por-fecha-pdf}"
                                th:if="${fechaFiltro == null}">REPORTE: Cajas del día</a>

                            <!-- TICKET DE CAJA -->
                            <a class="dropdown-item" href="" id="btnTicketCaja"
                                th:unless="${fechaFiltro == null}">TICKETS: Caja del día segun
                                fecha</a>
                            <a class="dropdown-item" href="" id="btnTicketCaja"
                                th:if="${fechaFiltro == null}">TICKET: Caja del día</a>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="text-center">
                            <form th:action="@{/logout}" method="post">
                                <button type="submit" class="dropdown-item text-danger">Cerrar sesión</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>