body {
  padding-bottom: 10rem;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

/* ESTILOS PARA EL RELOJ */
#digital-clock {
  font-family: 'Roboto Mono', monospace; /* Fuente elegante */
  letter-spacing: 1px;
  position: absolute; /* Saca el reloj del flujo normal */
  top: 10px; /* Ajusta según la posición vertical deseada */
  left: 50%; /* Colócalo al 50% del ancho de la página */
  transform: translateX(-50%); /* Centra el reloj horizontalmente */
  font-size: 4rem; /* Ajusta el tamaño de la fuente según necesites */
  padding: 0rem 0.5rem; /* Opcional: Espaciado interno */
  padding-bottom: 0.5rem;
  border-radius: 15px; /* Opcional: Bordes redondeados */
  /* border: solid 1px red; */
  height: 120%;
  line-height: 125%;
}