body {
  padding-bottom: 10rem;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

/* ESTILOS PARA EL RELOJ Y LA FECHA */
#digital-clock {
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
  position: absolute;
  top: 35px; /* Bajamos un poco el reloj para que la fecha quede arriba */
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  padding: 0 1rem;
  border-radius: 15px;
  height: auto;
}

/* ESTILOS PARA LA FECHA (DÍA Y NÚMERO) */
#digital-date {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3rem;
  position: absolute;
  top: 10px; /* Posicionar encima del reloj */
  left: 50%;
  transform: translateX(-50%);
}