<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <!-- Título con Mes y Año -->
    <div class="d-flex justify-content-center align-items-start">
        <h5 class="mt-2" id="mes-anio"></h5>

        <!-- Barra de Fechas -->
        <nav class="mx-3" aria-label="Navegación de fechas">
            <ul class="pagination" id="barra-fechas">
                <li class="page-item" id="prev">
                    <a class="page-link" onclick="cambiarRango(-1)">«</a>
                </li>

                <!-- Fechas dinámicas generadas con JS -->

                <li class="page-item" id="next">
                    <a class="page-link" onclick="cambiarRango(1)">»</a>
                </li>
            </ul>
        </nav>

        <button type="button" class="btn btn-primary" id="btn-hoy" onclick="irAHoy()">Hoy</button>

        <input type="hidden" id="filtroFecha" name="fechaFiltro" />
    </div>

    <!-- ALERTAS DE ERRORES -->
    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show text-center me-5" role="alert">
        <span th:text="${error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${error}" class="alert alert-success alert-dismissible fade show text-center me-5" role="alert">
        <span th:text="${mensaje}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- HABITACIONES Y VENTAS -->
    <div class="container-fluid py-3">
        <div class="row">
            <!-- Primera tabla: lado izquierdo -->
            <div class="col-12 col-lg-6 justify-content-center">
                <table class="table table-hover" th:if="${!hab_antiguas.isEmpty()}">
                    <thead class="table-secondary border-light">
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">HORARIO</th>
                            <th>NOMBRES Y APELLIDOS</th>
                            <th class="text-center px-0">EDAD</th>
                            <th class="text-center px-0">D.N.I.</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center px-0">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="hab : ${hab_antiguas}"
                            th:classappend="${hab.estado.estado == 'RESERVADA' ? 'table-primary' : hab.estado.estado == 'LIMPIEZA' ? 'table-success' : ultimaVentaPorHabitacion[hab.id_habitacion]?.estado == 'POR COBRAR' ? 'table-danger' : hab.estado.estado == 'MANTENIMIENTO' ? 'table-warning' : hab.estado.estado == 'NO DISPONIBLE' ? 'table-secondary' : ventasVencidas[hab.id_habitacion] != null ? 'table-danger' : mapAlertaSalida[hab.id_habitacion] != null ? 'table-warning' : ''}">

                            <td class="text-center fw-bold border-light bg-secondary-subtle align-middle"
                                th:text="${hab.numero}"
                                th:title="${'(' + hab.tipo.abreviacion_tipo + ') ' + hab.tipo.nombre_tipo}">
                                N°
                            </td>

                            <!-- #################### EVALUANDO FECHA DE ENTRADA A USAR SEGUN CONDICIONES DE VENTA #################### -->
                            <td class="text-start px-0 ps-2">
                                <span th:if="${ultimaVentaPorHabitacionFechaEntrada[hab.id_habitacion] != null}">
                                    <span
                                        th:text="${'E: ' + #temporals.format(ultimaVentaPorHabitacionFechaEntrada[hab.id_habitacion], 'dd'', ''hh:mm a')}">
                                    </span><br>
                                    <span
                                        th:text="${'S: ' + #temporals.format(ultimaVentaPorHabitacionFechaSalida[hab.id_habitacion], 'dd'', ''hh:mm a')}">
                                    </span>
                                </span>

                                <span th:if="${ventasVencidas[hab.id_habitacion] != null}">
                                    <span class="text-danger"
                                        th:text="${'E: ' + #temporals.format(ventasVencidasFechaEntrada[hab.id_habitacion], 'dd'', ''hh:mm a')}">
                                    </span><br>
                                    <span class="text-danger fw-bold"
                                        th:text="${'S: ' + #temporals.format(ventasVencidasFechaSalida[hab.id_habitacion], 'dd'', ''hh:mm a')}">
                                    </span>
                                </span>
                            </td>
                            <!-- ############################################################################################## -->

                            <!-- #################### CONDICIONES SOBRE EL ESTADO DE LA VENTA Y HABITACION #################### -->
                            <td>
                                <!-- ######## CONDICIONES DE LAS HABITACIONES ######## -->
                                <span th:if="${hab.estado.estado == 'RESERVADA'}"
                                    class="bg-primary-subtle fw-bold text-primary">
                                    HABITACIÓN RESERVADA <br>
                                </span>

                                <span th:if="${hab.estado.estado == 'LIMPIEZA'}"
                                    class="bg-success-subtle fw-bold text-success">
                                    HABITACIÓN EN LIMPIEZA <br>
                                </span>

                                <span th:if="${hab.estado.estado == 'MANTENIMIENTO'}"
                                    class="bg-warning-subtle fw-bold text-warning">
                                    HABITACIÓN EN MANTENIMIENTO <br>
                                </span>

                                <span th:if="${hab.estado.estado == 'NO DISPONIBLE'}"
                                    class="bg-dark-subtle fw-semibold text-dark">
                                    HABITACIÓN NO DISPONIBLE PARA VENTAS
                                    <br>
                                </span>
                                <!-- ################################################# -->

                                <!-- ################################ CONDICIONES DE LAS VENTAS ################################ -->
                                <span
                                    th:if="${ultimaVentaPorHabitacion[hab.id_habitacion]?.estado == 'POR COBRAR' || ventasVencidas[hab.id_habitacion]?.estado == 'POR COBRAR'}"
                                    class="bg-danger-subtle fw-bold text-danger">
                                    HABITACIÓN NO PAGADA <br>
                                </span>

                                <span
                                    th:if="${ultimaVentaPorHabitacion[hab.id_habitacion]?.tipo_servicio == 'MEDIO' || ventasVencidas[hab.id_habitacion]?.tipo_servicio == 'MEDIO'}"
                                    class="bg-primary-subtle fw-bold text-primary">
                                    MEDIO DÍA - SALIDA 6:00 PM <br>
                                </span>
                                <!-- ########################################################################################### -->

                                <!-- ####################### MOSTRAMOS NOMBRES Y APELLIDOS DE LOS CLIENTES ##################### -->
                                <span th:if="${ultimaVentaPorHabitacion[hab.id_habitacion] != null}">
                                    <span th:if="${mapAlertaSalida[hab.id_habitacion] == 1}"
                                        class="fw-bold text-light bg-warning px-3">
                                        QUEDA MENOS DE UNA HORA <br>
                                    </span>
                                    <span th:if="${mapAlertaSalida[hab.id_habitacion] == 30}"
                                        class="fw-bold text-light bg-warning px-3">
                                        QUEDA MENOS DE 30 MINUTOS <br>
                                    </span>
                                    <span
                                        th:each="cliente : ${ultimaVentaPorHabitacion[hab.id_habitacion]?.ventasClientesHabitacion}">
                                        <span
                                            th:text="${cliente.usuario_alojado.nombres + ', ' + cliente.usuario_alojado.apellidos}">
                                            NOMBRES Y APELLIDOS
                                        </span>
                                    </span>
                                    <br />
                                </span>


                                <span th:if="${ventasVencidas[hab.id_habitacion] != null}"
                                    class="fw-bold text-light bg-danger px-3">
                                    TIEMPO EXCEDIDO, AVISAR A LOS CLIENTES
                                    <br>
                                </span>
                                <span th:if="${ventasVencidas[hab.id_habitacion] != null}"
                                    th:each="cliente : ${ventasVencidas[hab.id_habitacion]?.ventasClientesHabitacion}">
                                    <span class="text-danger fw-semibold"
                                        th:text="${cliente.usuario_alojado.nombres + ', ' + cliente.usuario_alojado.apellidos}">
                                        NOMBRES Y APELLIDOS
                                    </span>
                                    <br />
                                </span>
                                <!-- ########################################################################################### -->
                            </td>
                            <!-- ###################################################################################################### -->

                            <!-- ################################## MOSTRAMOS LA EDAD DE LOS CLIENTES #################################### -->
                            <td class="text-center">
                                <span th:if="${ultimaVentaPorHabitacion[hab.id_habitacion].tipo_venta != 'RESERVA'}"
                                    th:each="cliente : ${ultimaVentaPorHabitacion[hab.id_habitacion]?.ventasClientesHabitacion}">
                                    <span th:text="${cliente.usuario_alojado.edad}"></span><br />
                                </span>

                                <span th:if="${ventasVencidas[hab.id_habitacion] != null}"
                                    th:each="cliente : ${ventasVencidas[hab.id_habitacion]?.ventasClientesHabitacion}">
                                    <span class="text-danger fw-bold" th:text="${cliente.usuario_alojado.edad}">
                                    </span> <br />
                                </span>
                            </td>
                            <!-- ######################################################################################################### -->

                            <!-- ################################## MOSTRAMOS EL D.N.I. DE LOS CLIENTES ################################## -->
                            <td class="text-center">
                                <span th:if="${ultimaVentaPorHabitacion[hab.id_habitacion] != null}"
                                    th:each="cliente : ${ultimaVentaPorHabitacion[hab.id_habitacion]?.ventasClientesHabitacion}">
                                    <span th:text="${cliente.usuario_alojado.dni}"></span><br />
                                </span>

                                <span th:if="${ventasVencidas[hab.id_habitacion] != null}"
                                    th:each="cliente : ${ventasVencidas[hab.id_habitacion]?.ventasClientesHabitacion}">
                                    <span class="text-danger fw-bold" th:text="${cliente.usuario_alojado.dni}">
                                    </span> <br />
                                </span>
                            </td>
                            <!-- ######################################################################################################### -->

                            <!-- ####################################### PRECIO TOTAL DE LA VENTA ######################################## -->
                            <td class="text-center">
                                <span
                                    th:text="${(ultimaVentaPorHabitacionFechaEntrada[hab.id_habitacion] != null)? 'S/. ' + #numbers.formatDecimal(ultimaVentaPorHabitacion[hab.id_habitacion]?.monto_total, 1, 2) : (ventasVencidas[hab.id_habitacion] != null)? 'S/. ' + #numbers.formatDecimal(ventasVencidas[hab.id_habitacion]?.monto_total, 1, 2) : ''}"
                                    th:classappend="${ventasVencidas[hab.id_habitacion] != null ? 'text-danger fw-bold' : ''}">
                                </span>
                            </td>
                            <!-- ######################################################################################################### -->

                            <td class="text-center align-middle">
                                <form th:action="@{/editar/{idHabitacion}(idHabitacion=${hab.id_habitacion})}">
                                    <input th:if="${ultimaVentaPorHabitacion[hab.id_habitacion] != null}" type="hidden"
                                        name="idVenta"
                                        th:value="${ultimaVentaPorHabitacion[hab.id_habitacion]?.id_venta}">

                                    <input th:if="${ventasVencidas[hab.id_habitacion] != null}" type="hidden"
                                        name="idVenta" th:value="${ventasVencidas[hab.id_habitacion]?.id_venta}">

                                    <button type="submit" class="btn btn-sm btn-primary"
                                        th:with="ventaID=${ultimaVentaPorHabitacion[hab.id_habitacion] != null ? ultimaVentaPorHabitacion[hab.id_habitacion].id_venta : 
                                        ventasVencidas[hab.id_habitacion] != null ? ventasVencidas[hab.id_habitacion].id_venta : ''}" th:title="'Venta: ' + ${ventaID}">
                                        Editar
                                    </button>
                                </form>
                                <form th:action="@{/nueva-venta/{idHabitacion}(idHabitacion=${hab.id_habitacion})}">
                                    <button th:if="${ultimaVentaPorHabitacion[hab.id_habitacion] == null}" type="submit"
                                        class="btn btn-sm btn-success">Alquilar</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Segunda tabla: lado derecho -->
            <div class="col-12 col-lg-6 justify-content-center">
                <table class="table table-hover" th:if="${!hab_modernas.isEmpty()}">
                    <thead class="table-primary border-light">
                        <tr>
                            <th class="text-center">N°</th>
                            <th class="text-center">HORARIO</th>
                            <th>NOMBRES Y APELLIDOS</th>
                            <th class="text-center px-0">EDAD</th>
                            <th class="text-center px-0">D.N.I.</th>
                            <th class="text-center">TOTAL</th>
                            <th class="text-center px-0">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="hab : ${hab_modernas}"
                            th:classappend="${hab.estado.estado == 'RESERVADA' ? 'table-primary' : hab.estado.estado == 'LIMPIEZA' ? 'table-success' : ultimaVentaPorHabitacion[hab.id_habitacion]?.estado == 'POR COBRAR' ? 'table-danger' : hab.estado.estado == 'MANTENIMIENTO' ? 'table-warning' : hab.estado.estado == 'NO DISPONIBLE' ? 'table-secondary' : ventasVencidas[hab.id_habitacion] != null ? 'table-danger' : mapAlertaSalida[hab.id_habitacion] != null ? 'table-warning' : ''}">

                            <td class="text-center fw-bold border-light bg-primary-subtle align-middle"
                                th:text="${hab.numero}"
                                th:title="${'(' + hab.tipo.abreviacion_tipo + ') ' + hab.tipo.nombre_tipo}">
                                N°
                            </td>

                            <!-- #################### EVALUANDO FECHA DE ENTRADA A USAR SEGUN CONDICIONES DE VENTA #################### -->
                            <td class="text-start px-0 ps-2">
                                <span th:if="${ultimaVentaPorHabitacionFechaEntrada[hab.id_habitacion] != null}">
                                    <span
                                        th:text="${'E: ' + #temporals.format(ultimaVentaPorHabitacionFechaEntrada[hab.id_habitacion], 'dd'', ''hh:mm a')}">
                                    </span><br>
                                    <span
                                        th:text="${'S: ' + #temporals.format(ultimaVentaPorHabitacionFechaSalida[hab.id_habitacion], 'dd'', ''hh:mm a')}">
                                    </span>
                                </span>

                                <span th:if="${ventasVencidas[hab.id_habitacion] != null}">
                                    <span class="text-danger"
                                        th:text="${'E: ' + #temporals.format(ventasVencidasFechaEntrada[hab.id_habitacion], 'dd'', ''hh:mm a')}">
                                    </span><br>
                                    <span class="text-danger fw-bold"
                                        th:text="${'S: ' + #temporals.format(ventasVencidasFechaSalida[hab.id_habitacion], 'dd'', ''hh:mm a')}">
                                    </span>
                                </span>
                            </td>
                            <!-- ############################################################################################## -->

                            <!-- #################### CONDICIONES SOBRE EL ESTADO DE LA VENTA Y HABITACION #################### -->
                            <td>
                                <!-- ######## CONDICIONES DE LAS HABITACIONES ######## -->
                                <span th:if="${hab.estado.estado == 'RESERVADA'}"
                                    class="bg-primary-subtle fw-bold text-primary">
                                    HABITACIÓN RESERVADA <br>
                                </span>

                                <span th:if="${hab.estado.estado == 'LIMPIEZA'}"
                                    class="bg-success-subtle fw-bold text-success">
                                    HABITACIÓN EN LIMPIEZA <br>
                                </span>

                                <span th:if="${hab.estado.estado == 'MANTENIMIENTO'}"
                                    class="bg-warning-subtle fw-bold text-warning">
                                    HABITACIÓN EN MANTENIMIENTO <br>
                                </span>

                                <span th:if="${hab.estado.estado == 'NO DISPONIBLE'}"
                                    class="bg-dark-subtle fw-semibold text-dark">
                                    HABITACIÓN NO DISPONIBLE PARA VENTAS
                                    <br>
                                </span>
                                <!-- ################################################# -->

                                <!-- ################################ CONDICIONES DE LAS VENTAS ################################ -->
                                <span
                                    th:if="${ultimaVentaPorHabitacion[hab.id_habitacion]?.estado == 'POR COBRAR' || ventasVencidas[hab.id_habitacion]?.estado == 'POR COBRAR'}"
                                    class="bg-danger-subtle fw-bold text-danger">
                                    HABITACIÓN NO PAGADA <br>
                                </span>

                                <span
                                    th:if="${ultimaVentaPorHabitacion[hab.id_habitacion]?.tipo_servicio == 'MEDIO' || ventasVencidas[hab.id_habitacion]?.tipo_servicio == 'MEDIO'}"
                                    class="bg-primary-subtle fw-bold text-primary">
                                    MEDIO DÍA - SALIDA 6:00 PM <br>
                                </span>
                                <!-- ########################################################################################### -->

                                <!-- ####################### MOSTRAMOS NOMBRES Y APELLIDOS DE LOS CLIENTES ##################### -->
                                <span th:if="${ultimaVentaPorHabitacion[hab.id_habitacion] != null}">
                                    <span th:if="${mapAlertaSalida[hab.id_habitacion] == 1}"
                                        class="fw-bold text-light bg-warning px-3">
                                        QUEDA MENOS DE UNA HORA <br>
                                    </span>
                                    <span th:if="${mapAlertaSalida[hab.id_habitacion] == 30}"
                                        class="fw-bold text-light bg-warning px-3">
                                        QUEDA MENOS DE 30 MINUTOS <br>
                                    </span>
                                    <span
                                        th:each="cliente : ${ultimaVentaPorHabitacion[hab.id_habitacion]?.ventasClientesHabitacion}">
                                        <span
                                            th:text="${cliente.usuario_alojado.nombres + ', ' + cliente.usuario_alojado.apellidos}">
                                            NOMBRES Y APELLIDOS
                                        </span>
                                    </span>
                                    <br />
                                </span>


                                <span th:if="${ventasVencidas[hab.id_habitacion] != null}"
                                    class="fw-bold text-light bg-danger px-3">
                                    TIEMPO EXCEDIDO, AVISAR A LOS CLIENTES
                                    <br>
                                </span>
                                <span th:if="${ventasVencidas[hab.id_habitacion] != null}"
                                    th:each="cliente : ${ventasVencidas[hab.id_habitacion]?.ventasClientesHabitacion}">
                                    <span class="text-danger fw-semibold"
                                        th:text="${cliente.usuario_alojado.nombres + ', ' + cliente.usuario_alojado.apellidos}">
                                        NOMBRES Y APELLIDOS
                                    </span>
                                    <br />
                                </span>
                                <!-- ########################################################################################### -->
                            </td>
                            <!-- ###################################################################################################### -->

                            <!-- ################################## MOSTRAMOS LA EDAD DE LOS CLIENTES #################################### -->
                            <td class="text-center">
                                <span th:if="${ultimaVentaPorHabitacion[hab.id_habitacion].tipo_venta != 'RESERVA'}"
                                    th:each="cliente : ${ultimaVentaPorHabitacion[hab.id_habitacion]?.ventasClientesHabitacion}">
                                    <span th:text="${cliente.usuario_alojado.edad}"></span><br />
                                </span>

                                <span th:if="${ventasVencidas[hab.id_habitacion] != null}"
                                    th:each="cliente : ${ventasVencidas[hab.id_habitacion]?.ventasClientesHabitacion}">
                                    <span class="text-danger fw-bold" th:text="${cliente.usuario_alojado.edad}">
                                    </span> <br />
                                </span>
                            </td>
                            <!-- ######################################################################################################### -->

                            <!-- ################################## MOSTRAMOS EL D.N.I. DE LOS CLIENTES ################################## -->
                            <td class="text-center">
                                <span th:if="${ultimaVentaPorHabitacion[hab.id_habitacion] != null}"
                                    th:each="cliente : ${ultimaVentaPorHabitacion[hab.id_habitacion]?.ventasClientesHabitacion}">
                                    <span th:text="${cliente.usuario_alojado.dni}"></span><br />
                                </span>

                                <span th:if="${ventasVencidas[hab.id_habitacion] != null}"
                                    th:each="cliente : ${ventasVencidas[hab.id_habitacion]?.ventasClientesHabitacion}">
                                    <span class="text-danger fw-bold" th:text="${cliente.usuario_alojado.dni}">
                                    </span> <br />
                                </span>
                            </td>
                            <!-- ######################################################################################################### -->

                            <!-- ####################################### PRECIO TOTAL DE LA VENTA ######################################## -->
                            <td class="text-center">
                                <span
                                    th:text="${(ultimaVentaPorHabitacionFechaEntrada[hab.id_habitacion] != null)? 'S/. ' + #numbers.formatDecimal(ultimaVentaPorHabitacion[hab.id_habitacion]?.monto_total, 1, 2) : (ventasVencidas[hab.id_habitacion] != null)? 'S/. ' + #numbers.formatDecimal(ventasVencidas[hab.id_habitacion]?.monto_total, 1, 2) : ''}"
                                    th:classappend="${ventasVencidas[hab.id_habitacion] != null ? 'text-danger fw-bold' : ''}">
                                </span>
                            </td>
                            <!-- ######################################################################################################### -->

                            <td class="text-center align-middle">
                                <form th:action="@{/editar/{idHabitacion}(idHabitacion=${hab.id_habitacion})}">
                                    <input th:if="${ultimaVentaPorHabitacion[hab.id_habitacion] != null}" type="hidden"
                                        name="idVenta"
                                        th:value="${ultimaVentaPorHabitacion[hab.id_habitacion]?.id_venta}">

                                    <input th:if="${ventasVencidas[hab.id_habitacion] != null}" type="hidden"
                                        name="idVenta" th:value="${ventasVencidas[hab.id_habitacion]?.id_venta}">

                                    <button type="submit" class="btn btn-sm btn-primary"
                                        th:with="ventaID=${ultimaVentaPorHabitacion[hab.id_habitacion] != null ? ultimaVentaPorHabitacion[hab.id_habitacion].id_venta : 
                                        ventasVencidas[hab.id_habitacion] != null ? ventasVencidas[hab.id_habitacion].id_venta : ''}" th:title="'Venta: ' + ${ventaID}">
                                        Editar
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script th:src="@{/js/index-pagination.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>