<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de credenciales</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <div class="d-flex justify-content-between">
            <div class="mx-auto">
                <h1>LISTA DE CREDENCIALES</h1>
            </div>
        </div>

        <table class="table border table-hover shadow">
            <thead class="table-dark">
                <tr>
                    <th class="text-center w-auto" colspan="2">ACCIONES</th>
                    <th class="text-center">ID</th>
                    <th>NOMBRES</th>
                    <th>APELLIDOS</th>
                    <th>ROL</th>
                    <th class="text-center">USUARIO PARA ACCESO</th>
                    <th class="text-center">CONTRASEÑA</th>
                    <th class="text-center">FECHA DE CREACIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="credencial: ${credenciales}">
                    <td class="text-center" style="width: 12px;">
                        <a class="btn btn-sm btn-primary" role="button" title="EDITAR CREDENCIAL"
                            th:href="@{/admin/credenciales/editar/{id}(id=${credencial.id_credencial})}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="text-center border" style="width: 12px;">
                        <a class="btn btn-sm btn-danger" role="button" title="ELIMINAR CREDENCIAL"
                            th:href="@{/admin/credenciales/{id}(id=${credencial.id_credencial})}"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar esta credencial?')">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                    <td th:text="${credencial.id_credencial}" class="text-center">ID</td>
                    <td th:text="${credencial.usuario.nombres}">NOMBRES</td>
                    <td th:text="${credencial.usuario.apellidos}">APELLIDOS</td>
                    <td th:text="${credencial.usuario.rol.nombre}">ROL</td>
                    <td th:text="${credencial.usuario.dni}" class="text-center">USUARIO PARA ACCESO</td>
                    <td th:text="${credencial.contrasena}" class="text-center">CONTRASEÑA</td>
                    <td th:text="${credencial.fecha_creacion}" class="text-center">FECHA DE CREACIÓN</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>