<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de los tipos de habitaciones</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <h1 class="text-center">LISTA DE LOS TIPOS DE HABITACIONES</h1>
            </div>
            <div class="my-auto">
                <a class="btn btn-primary" th:href="@{/admin/habitacionesTipos/nuevo}" role="button">AGREGAR TIPO DE HABITACIÓN</a>
            </div>
        </div>

        <table class="table border table-hover shadow">
            <thead class="table-dark">
                <tr>
                    <th class="text-center w-auto" colspan="2">ACCIONES</th>
                    <th class="text-center">ID</th>
                    <th>TIPO DE HABITACIÓN</th>
                    <th class="text-center">ABREVIATURA</th>
                    <th class="text-center">FECHA DE CREACIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="habitacionTipo: ${habitacionesTipos}">
                    <td class="text-center" style="width: 12px;">
                        <a class="btn btn-sm btn-primary" role="button" title="EDITAR"
                            th:href="@{/admin/habitacionesTipos/editar/{id}(id=${habitacionTipo.id_habitacion_tipo})}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="text-center border" style="width: 12px;">
                        <a class="btn btn-sm btn-danger" role="button" title="ELIMINAR"
                            th:href="@{/admin/habitacionesTipos/{id}(id=${habitacionTipo.id_habitacion_tipo})}"
                            onclick="return confirm('¿Estás seguro de que deseas eliminar este tipo de habitación?')">
                            <i class="bi bi-trash-fill"></i>
                        </a>
                    </td>
                    <td th:text="${habitacionTipo.id_habitacion_tipo}" class="text-center">ID</td>
                    <td th:text="${habitacionTipo.nombre_tipo}">TIPO DE HABITACIÓN</td>
                    <td th:text="${habitacionTipo.abreviacion_tipo}" class="text-center">ABREVIATURA</td>
                    <td th:text="${habitacionTipo.fecha_creacion}" class="text-center">FECHA DE CREACIÓN</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>