<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear usuario</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="fragments/navbar :: navbar"></div>

    <div class="container">
        <div class="col">
            <div class="mb-5">
                <div class="card mx-auto shadow" style="width: 50%;">
                    <div class="card-header text-center text-bg-secondary" style="font-size: xx-large;">FORMULARIO PARA
                        CREAR USUARIO</div>

                    <div class="card-body">
                        <form th:action="@{/admin/usuarios}" th:object="${usuario}" method="post">
                            <div class="mb-3">
                                <label class="form-label">D.N.I.</label>
                                <div class="row mx-auto">
                                    <input type="text" maxlength="8" minlength="8" class="form-control text-uppercase col" id="inputDNI"
                                        name="dni" placeholder="Escribe el dni del usuario" autofocus required>
                                    <button type="button" class="btn btn-secondary ms-2 col-auto" title="CONSULTAR DATOS" id="btnBuscarDNI">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">NOMBRES</label>
                                <input type="text" class="form-control text-uppercase" id="inputNombres" name="nombres"
                                    placeholder="Escribe los nombres del nuevo usuario" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">APELLIDOS</label>
                                <input type="text" class="form-control text-uppercase" id="inputApellidos"
                                    name="apellidos" placeholder="Escribe los apellidos del nuevo usuario" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">CELULAR</label>
                                <input type="text" maxlength="9" minlength="9" class="form-control text-uppercase"
                                    name="celular" placeholder="Escribe el celular del usuario">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">EDAD</label>
                                <input type="number" class="form-control" id="inputId" name="edad" min="0" value="18">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">ROL</label>
                                <select class="form-select" th:field="*{rol}" required>
                                    <option th:each="rol : ${roles}" th:value="${rol.id_rol}" th:text="${rol.nombre}">
                                        Rol
                                    </option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">ESTADO DE VETO</label>
                                <select class="form-select" th:field="*{estado_vetado}" required>
                                    <option th:value="${false}">NO VETADO</option>
                                    <option th:value="${true}">VETADO</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">RAZÓN DE VETADO</label>
                                <textarea class="form-control" name="estado_vetado"
                                    placeholder="Escribe la razón del estado de veto del usuario"></textarea>
                            </div>

                            <div class="row mx-5">
                                <button type="button" class="btn btn-danger col mx-3" data-bs-toggle="modal"
                                    data-bs-target="#cancelModal">CANCELAR</button>
                                <button type="submit" class="btn btn-primary col mx-3">CREAR REGISTRO</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        <h1 class="text-center">LISTA DE USUARIOS</h1>
                    </div>
                    <div class="my-auto">
                        <a class="btn btn-primary disabled-button" th:href="@{/admin/usuarios/nuevo}"
                            role="button">AGREGAR
                            USUARIO</a>
                    </div>
                </div>

                <table class="table border table-hover shadow">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center w-auto" colspan="2" style="width: min-content;">ACCIONES</th>
                            <th class="text-center">ID</th>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>DNI</th>
                            <th>CELULAR</th>
                            <th>EDAD</th>
                            <th class="text-center">ESTADO DE VETO</th>
                            <th>RAZÓN DE VETO</th>
                            <th>ROL</th>
                            <th class="text-center">FECHA DE CREACIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario: ${usuarios}">
                            <td class="text-center" style="width: 12px;">
                                <a class="btn btn-sm btn-primary disabled-button" role="button" title="EDITAR USUARIO">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td class="text-center border" style="width: 12px;">
                                <a class="btn btn-sm btn-danger disabled-button" role="button" title="ELIMINAR USUARIO">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                            <td th:text="${usuario.id_usuario}" class="text-center">ID</td>
                            <td th:text="${usuario.nombres}">NOMBRES</td>
                            <td th:text="${usuario.apellidos}">APELLIDOS</td>
                            <td th:text="${usuario.dni}">DNI</td>
                            <td th:text="${usuario.celular}">CELULAR</td>
                            <td th:text="${usuario.edad}">EDAD</td>
                            <td th:text="${usuario.estado_vetado? 'VETADO' : 'NO VETADO'}"
                                th:class="${usuario.estado_vetado? 'bg-danger text-light text-center' : 'bg-success text-light text-center'}">
                                ESTADO DE VETO</td>
                            <td th:text="${usuario.razon_vetado}">RAZÓN DE VETO</td>
                            <td th:text="${usuario.rol.nombre}">ROL</td>
                            <td th:text="${usuario.fecha_creacion}" class="text-center">FECHA DE CREACIÓN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:insert="fragments/modal :: modal('/admin/usuarios')"></div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>