<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar estado para habitación</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <div class="col">
            <div class="mb-5 ">
                <div class="card mx-auto shadow" style="width: 50%;">
                    <div class="card-header text-center text-bg-secondary" style="font-size: x-large;">
                        FORMULARIO PARA EDITAR ESTADO PARA HABITACIÓN
                    </div>

                    <div class="card-body">
                        <form th:action="@{/admin/habitacionesEstado/{id}(id=${habitacionEstado.id_habitacion_estado})}" th:object="${habitacionEstado}" method="post">
                            <div class="mb-3">
                                <label class="form-label">ID:</label>
                                <input type="text" class="form-control" th:field="*{id_habitacion_estado}" disabled>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">NOMBRE DEL ESTADO</label>
                                <input type="text" class="form-control text-uppercase" th:field="*{estado}"
                                    placeholder="Escribe el nuevo nombre del estado (Ocupado, Mantenimiento, etc)" autofocus required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">MENSAJE DEL ESTADO</label>
                                <textarea th:field="*{mensaje}" class="form-control"
                                    placeholder="Escribe el nuevo mensaje que del estado. Ejm: ('Habitación en mantenimiento, reportar al encargado' - 'Habitación ocupada, revisar horario')" required></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">FECHA DE CREACIÓN (Se cambiará por la fecha actual)</label>
                                <input type="text" class="form-control" th:field="*{fecha_creacion}"
                                    name="fecha_creacion" disabled>
                            </div>

                            <div class="row mx-5">
                                <button type="button" class="btn btn-danger col mx-3" data-bs-toggle="modal"
                                    data-bs-target="#cancelModal">CANCELAR</button>
                                <button type="submit" class="btn btn-primary col mx-3">EDITAR REGISTRO</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="d-flex justify-content-between">
                    <div>
                        <h1 class="text-center">LISTA DE ESTADOS PARA HABITACIONES</h1>
                    </div>
                    <div class="my-auto">
                        <a class="btn btn-primary disabled-button" role="button">AGREGAR
                            ESTADO PARA HABITACÍON</a>
                    </div>
                </div>

                <table class="table border table-hover shadow">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center w-auto" colspan="2" style="width: min-content;">ACCIONES</th>
                            <th class="text-center">ID</th>
                            <th>NOMBRE DEL ESTADO</th>
                            <th>MENSAJE</th>
                            <th class="text-center">FECHA DE CREACIÓN</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rol: ${roles}">
                            <td class="text-center" style="width: 12px;">
                                <a class="btn btn-sm btn-primary" role="button" title="EDITAR ESTADO PARA HABITACIÓN"
                                    th:href="@{/admin/habitacionesEstado/editar/{id}(id=${habitacionEstado.id_habitacion_estado})}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            </td>
                            <td class="text-center border" style="width: 12px;">
                                <a class="btn btn-sm btn-danger disabled-button" role="button"
                                    title="ELIMINAR ESTADO PARA HABITACIÓN">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </td>
                            <td th:text="${habitacionEstado.id_habitacion_estado}" class="text-center">ID</td>
                            <td th:text="${habitacionEstado.estado}">NOMBRE DEL ESTADO</td>
                            <td th:text="${habitacionEstado.mensaje}">MENSAJE</td>
                            <td th:text="${rol.fecha_creacion}" class="text-center">FECHA DE CREACIÓN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:insert="~{fragments/modal :: modal('/admin/habitacionesEstado')}"></div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>