<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado del estado para habitaciones</title>
    <!-- Cambia 'static' a '/css/' para Thymeleaf -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-icons/font/bootstrap-icons.css}">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <h1 class="text-center">LISTA DE ESTADOS PARA HABITACIONES</h1>
            </div>
            <div class="my-auto">
                <a class="btn btn-primary" th:href="@{/admin/habitacionesEstado/nuevo}" role="button">AGREGAR ESTADO PARA HABITACIÓN</a>
            </div>
        </div>

        <table class="table border table-hover shadow">
            <thead class="table-dark">
                <tr>
                    <th class="text-center w-auto" colspan="2">ACCIONES</th>
                    <th class="text-center">ID</th>
                    <th>NOMBRE DEL ESTADO</th>
                    <th>MENSAJE</th>
                    <th class="text-center">FECHA DE CREACIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="habitacionEstado: ${habitacionesEstado}">
                    <td class="text-center" style="width: 12px;">
                        <a class="btn btn-sm btn-primary" role="button" title="EDITAR ESTADO PARA HABITACIÓN"
                            th:href="@{/admin/habitacionesEstado/editar/{id}(id=${habitacionEstado.id_habitacion_estado})}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </td>
                    <td class="text-center border" style="width: 12px;">
                        <form th:action="@{/admin/habitacionesEstado/eliminar/{id}(id=${habitacionEstado.id_habitacion_estado})}" method="post"
                            onsubmit="return confirm('¿Estás seguro de que deseas eliminar este registro?')">
                            <button type="submit" class="btn btn-sm btn-danger" title="ELIMINAR">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </form>
                    </td>
                    <td th:text="${habitacionEstado.id_habitacion_estado}" class="text-center">ID</td>
                    <td th:text="${habitacionEstado.estado}">NOMBRE DEL ESTADO</td>
                    <td th:text="${habitacionEstado.mensaje}">MENSAJE</td>
                    <td th:text="${habitacionEstado.fecha_creacion}" class="text-center">FECHA DE CREACIÓN</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>